<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% extends 'base.html' %}

{% block content %}


<div class ="center">
  <h1>About the Crystal Collector</h1>
  <p>"In turbulent times, we can utilize grounding, tangible tangible tools to calm anxiety and soothe stress - like Crystals. </p>
  
</div>
</div>
  <hr />
    <h2 class="center">Crystal Healing</h2>
  <div class="carousel carousel-slider">
    <a class="carousel-item" style="color:black">Promote Good Energy<img src="https://totemsurftribe.files.wordpress.com/2024/04/4b1b0b68-0107-445e-8a26-8c3d41918297.jpeg?resize=438%2C438" class="sliding-img">
    <a class="carousel-item" style="color:black">Help Manifest<img src="https://totemsurftribe.files.wordpress.com/2024/04/554fff23-2b56-4a01-8971-fb5c9f09c742.jpeg?resize=438%2C438" class="sliding-img">
    <a class="carousel-item" style="color:black">Better Sleep<img src="https://totemsurftribe.files.wordpress.com/2024/04/1853847c-bfd5-4a19-b975-2f2bf76d1174.jpeg?resize=438%2C438" class="sliding-img">
    <a class="carousel-item" style="color:black">Physical and Emtional Benefits<img src="https://totemsurftribe.files.wordpress.com/2024/04/37c8dd27-4456-40a5-8629-919fbeb8cd2a.jpeg?resize=438%2C438" class="sliding-img">
  </div>
  <p>Inquire Now For A Free Initial Reading </p>
 <script>
  document.addEventListener('DOMContentLoaded', function() {
    carouselEl = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(carouselEl);
  });
 </script>
{% endblock %}

<footer>All Rights Reserved, &copy; 2024 Crystal Collector</footer>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>