{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Crystal Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <ul id="slide-out" class="sidenav">
          
    <ul class="center">
      <div>
        <a href="{% url 'home' %}"><img src="https://totemsurftribe.files.wordpress.com/2024/04/crystalcollectorlogo.png?resize=438%2C438" class="logo-img">
          </a>
          </div>
      <li><a href="{%  url 'about' %}">About</a></li>
      <li><a href="{%  url 'crystals_create' %}">Add A Crystal</a></li>
      <li><a href="{%  url 'index' %}">View All Crystals</a></li>
      <li><a href="">Browse Collections</a></li>
      <li><a href="">Shop</a></li>
    </ul>
  </ul>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <nav> <!-- navbar content here  --> </nav>    
        <ul id="slide-out" class="sidenav sidenav-fixed">
          
          <ul class="center">
            <div>
              <a href="{% url 'home' %}"><img src="https://totemsurftribe.files.wordpress.com/2024/04/crystalcollectorlogo.png?resize=438%2C438" class="logo-img">
                </a>
                </div>
            <li><a href="{%  url 'about' %}">About</a></li>
            <li><a href="{%  url 'crystals_create' %}">Add A Crystal</a></li>
            <li><a href="{%  url 'index' %}">View All Crystals</a></li>
          </ul>
        </ul>

        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </header>



  <main class="container">
    {% block content %}
    {% endblock %}

  <script>

document.addEventListener('DOMContentLoaded', function() {
    const navEl = document.querySelector('.sidenav');
    var instances = M.Sidenav.init(navEl, {

    })

  var collapsibleElem = document.querySelector('.collapsible');
   var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
  
  });

    </script>
  </main>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="right">All Rights Reserved, &copy; 2024 Crystal Collector &nbsp;
          </div>
        </div>
    </div>
  </footer>
</body>
</html>
