
.home-img{
  border-radius: 50%;
}
body {
  font-family: 'Tahoma, serif';
}
nav, header.navbar-fixed, footer.page-footer{
  background-color: rgb(205, 192, 117);
}
.page-footer{
  align-items: baseline;
  padding-bottom: 0;
}
ul#slide-out.sidenav{
  border-style: groove;
  width: 222px;
}
div.nav-wrapper{
  height: 80px

}
#sidenav-overlay { 
  display: none;
 }

.sliding-img{
  width: 340px;
  height: 340px;
  object-fit: contain;
  object-position: center;
  align-items: center;
  border-radius: 50%;
  padding-bottom: 0;
}
.logo-img{
  width: 160px;
  height: 160px;
  object-fit: contain;
  object-position: center;
  align-items: center;
  border-radius: 50%;
  padding-bottom: 0;
}

.dropdown-logo-img {
  width: 66px;
  height: 66px;
  object-fit: contain;
  object-position: center;
  align-items: center;
  border-radius: 50%;

}

header, main, footer {
  padding-left: 100px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
      
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 .collection-img, .detail-img{
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    object-position: 25% 25%; 
    }

