body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .detail-img{
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    object-position: 25% 25%; 
    }